#viz.container-fluid(ng-controller='dataCtrl')
    div(ng-include='"/partials/viz/timeline"')
    div(ng-include='"/partials/viz/map"')
    div(ng-include='"/partials/viz/words"')
    div(ng-include='"/partials/viz/users"')