lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
public/data
_data
doc
lib
libs

node_modules

npm-debug.log

dump*
*.rdb

Capfile
config/deploy/production.rb
config/config.json
config
