.row(ng-controller='wordCtrl')
  .col-xs-9.col-sm-9
    .words-container(words='', start='start', end='end')
  .col-xs-3.col-sm-3
    a.btn-sm.btn-default.btn-save.btn-save-png(type='button', ng-click='saveWords(); $event.preventDefault()')
      span.glyphicon.glyphicon-save
      | Save
    p
      small Hit Shift+W to save
    .wordpie-container
