<link href="css/slider.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<style>
    /*time*/
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .count {
      fill: steelblue;
    }
    .x.axis path {
      display: none;
    }
    body {
      padding :0;
      padding-top: 50px;
      /*background: #000*/
    }

    #viz {
      padding :0;
      padding-top: 50px;
      /*background: #000*/
    }

    #legend {
      padding:20px 0 0 30px;
      position: absolute;
      top:850px;
      right:350px;
    }
    dl {
      font-size:0.8em;
    }
</style>

<nav class="navbar-tools navbar-default navbar-tools navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <ul class="nav navbar-nav">
        <li>
            <a data-toggle="collapse" data-target="#memes" class="navbar-brand" href="#">Memes</a>
            <span class="caret"></span>
            </a>
        </li>
        <li>
          <a type="button" class="btn-wordforce"><span class="glyphicon glyphicon-comment"></span> Words Graph</a>
        </li>
        <li>
            <a data-toggle="collapse" data-target="#controls" class="btn-userlayout"><span class="glyphicon glyphicon-globe"></span> Provinces Graph</a>
        </li>
        <li>
            <a data-toggle="collapse" data-target="#memes"><small>Select a meme</small></a>
        </li>
        <li>
          <a data-toggle="collapse" data-target="#save" type="button" class="btn-save"><span class="glyphicon glyphicon-save"></span> Save</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="collapse" data-target="#help">Help</a></li>
        <li><a data-toggle="collapse" data-target="#about">About</a></li>
      </ul>
    </div>

    <div class="container-fluid">

      <div id="memes" class="panel-collapse collapse">
        <div class="memelist row panel-body">
        </div>
      </div>

      <div id="about" class="panel-collapse collapse">
        <div class="panel-body ">
          <h4 class="panel-title">About</h4>
          blabla
        </div>
      </div>

      <div id="save" class="panel-collapse collapse">
        <div class="row panel-body">
          <button type="button" class="btn btn-sm btn-save-all"><span class="glyphicon glyphicon-map-picture"></span> Save whole</button>
          <button type="button" class="btn btn-sm btn-save-map"><span class="glyphicon glyphicon-map-marker"></span> Save map</button>

        </div>
      </div>

      <div id="controls" class="panel-collapse collapse">
        <!-- <button type="button" class="btn btn-sm btn-alert btn-showall">Show all</button> -->

          <button type="button" class="btn btn-sm btn-default btn-centroids"><span class="glyphicon glyphicon-map-marker"></span> List Provinces</button>

          <span class="label label-primary">Sort provinces</span>
          <div class="btn-group btn-group-xs">
            
            <button type="button" class="btn btn-sm btn-default btn-sortCentroids" rel="meme">Users count</button>
            <button type="button" class="btn btn-sm btn-default btn-sortCentroids" rel="gdp">GDP</button>
            <button type="button" class="btn btn-sm btn-default btn-sortCentroids" rel="population">Population</button>
          </div>


       <!--    <div class="btn-group switchs">
            <button type="button" class="btn btn-xs btn-default btn-arcs">Arcs</button>
            <button type="button" class="btn btn-xs btn-default btn-map">Map</button>
            <button type="button" class="btn btn-xs btn-default btn-wordusers">Words Users</button>
            <button type="button" class="btn btn-xs btn-default btn-mapusers">Map Users</button>    
          </div> -->
        </div>
      </div>

      <div id="help" class="panel-collapse collapse">
        <div class="panel-heading">
          <h4 class="panel-title">Help</h4>
        </div>
        <div class="panel-body">
          blabla
        </div>
      </div>

</nav>

<div class="container-fluid">
    
    
    <div class="row">

      <div class="col-xs-9 col-sm-9">
        <div id="viz"></div>
      </div>

      <div class="col-xs-3 col-sm-3">
        <h1 class="page-header">Meme Name</h1>

        <h4>Infos <small class="text-muted">About this meme</small></h4>
        <ul id="info"></ul>
      
        <ul class="nodeinfo"></ul>

        <h4>Words<small class="text-muted">  options</small></h4>
        
        <div class="word-options input-group input-group-lg">
          <label>Link Distance
            <input class="linkDistance" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="400" data-slider-step="5"/>
          </label>
          <label>Charge
            <input class="charge" data-slider-id='ex1Slider' type="text" data-slider-min="-3000" data-slider-max="-500" data-slider-step="100"/>
          </label>
          <label>Gravity
            <input class="gravity" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="0.1"/>
          </label>
        </div>
        
        <h4>Users <small class="text-muted"> legend</small></h4>
        <div class="usergraphinfo"></div>
        <div class="communities-options form-group">          
          <!-- <span class="input-group-addon">linkDistance</span> -->
          <label for="linkDistance">linkDistance
            <input class="linkDistance" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="400" data-slider-step="5" data-slider-value="150"/>
          </label>
          
          
          <label>charge
            <input class="charge" data-slider-id='ex1Slider' type="text" data-slider-min="-5000" data-slider-max="2000" data-slider-step="100" data-slider-value="-1000"/>
          </label>
          
          <label>Gravity
            <input class="gravity" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="0.1" data-slider-value="0.3"/>
          </label>
        </div>
        <div class="userinfobox"></div>
        <div class="userpie"></div>


        <h4>Volume of tweets <small class="text-muted">Time series</small></h4>
        <div id="timeserie"></div>

        <h4>Hashtags <small class="text-muted">Most frequent</small></h4>
        <div id="hashtags"></div>

      </div>  
    </div>
    
</div>

<div id="legend"></div>

<canvas id="render"></canvas>
<div id="renderd3"></div>

<script type="text/javascript" src="libs/jquery.min.js"></script>
<script type="text/javascript" src="libs/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/bootstrap-slider.js"></script>
<script type="text/javascript" src="libs/d3.v3.min.js"></script>
<script type="text/javascript" src="libs/jquery.csv.min.js"></script>
<script type="text/javascript" src="libs/queue.v1.min.js"></script>
<script type="text/javascript" src="libs/colorbrewer.v1.min.js"></script>
<script type="text/javascript" src="libs/topojson.v1.min.js"></script>    

<!-- <script type="text/javascript" src="libs/canvg/rgbcolor.js"></script> 
<script type="text/javascript" src="libs/canvg/StackBlur.js"></script>
<script type="text/javascript" src="libs/canvg/canvg.js"></script>  -->
<script type="text/javascript" src="libs/simg.js"></script> 

<script type="text/javascript" src="js/d3flatlayers.js"></script>
<script type="text/javascript" src="js/main.js"></script>
