<div class="row" ng-controller="wordCtrl">
            <div class="col-xs-9 col-sm-9">
                <div words start="start" end="end" class="words-container"></div>
            </div>
            <div class="col-xs-3 col-sm-3">
                <a type="button" ng-click="saveWords(); $event.preventDefault()" class="btn-sm btn-default btn-save btn-save-png"><span class="glyphicon glyphicon-save" ></span> Save</a>
                <p><small>Hit Shift+W to save</small></p>
                <div class="wordpie-container"></div>

            </div>
        </div> 