section.post
  ol.breadcrumb
    li
      a(href='#/') Blog
    li.active Log Out
  form.form-horizontal(role='form')
    div.form-group
      div.col-sm-offset-4.col-sm-10
        button.btn.btn-default(type='submit', ng-click='logOut()') Log Out
